<% if @current_user.nil? -%>
  <img class="mx-auto rounded-xl border border-gray-800" src="/assets/images/theatre.jpg">
  <div class="mx-auto text-center">Join or Login to continue ...</div>
<% else %>
<%= @current_user.age %>
<% end %>