<h1>Home#test</h1>
<p>Find me in app/views/home/test.html.erb</p>

<hr class="my-2">

<p class="italic text-sm">Turboframe load ...</p>
<turbo-frame id="foo" src="/home/uitest" style="margin-top: 10px; display: block;">
  Turboframe loading ...
</turbo-frame>

<hr class="my-2">

<p class="italic text-sm">Hello Controller ...</p>
<div data-controller="hello" style="margin-top: 10px; display: block;">
  Hello Controller goes here
</div>

<hr class="my-2">

<p class="italic text-sm">jQuery Stimulus ...</p>
<div id="jquery-stimulus"></div>

<hr class="my-2">

<p class="italic text-sm">Animate JS ...</p>
<div class="animate__animated animate__flash" style="margin-top: 20px;">Flash Example</div>

<hr class="my-2">

<p class="italic text-sm">Tailwind Lineclamp(2) ...</p>
<div class="clamped" style="margin-top: 20px;">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porta congue convallis. Etiam eu nisi massa, eget faucibus lectus. Phasellus vestibulum aliquam neque id volutpat. Cras varius lobortis ipsum ac condimentum. Cras vel nulla et mi fermentum faucibus. Donec eget turpis molestie felis lobortis viverra sed vulputate justo. Ut elementum nulla nec tellus pretium tincidunt. Vivamus at lorem elit. Vivamus tempor ullamcorper pharetra. Nam eros nulla, ornare id interdum id, blandit sagittis nulla. Donec euismod quam a turpis facilisis egestas. Vivamus elementum facilisis lorem vitae congue.</div>
<div class="applytest">This should be inside a nice blue rounded box</div>
